@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-font: "Montserrat", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
  margin: 0;
  background-color: #051825;
  font-family: var(--main-font);
  color: white;
}

header {
  background-color: #102733;
  position: relative;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
  overflow: hidden;
  z-index: 500;
}

.desktop-nav {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 20px;
  padding-right: 20px;
}

.divider-circle {
  width: 10px;
  aspect-ratio: 1;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

.desktop-nav a {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  transition: 0.2s;
  font-family: var(--main-font);
  font-size: 1.3rem;
}

.desktop-nav a.active {
  color: lightblue !important;
  font-weight: 600 !important;
}

.desktop-nav a:hover {
  color: lightblue;
}

.mobile-nav {
  display: none;
  height: 100%;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
}

.mobile-nav-button {
  height: 70%;
  aspect-ratio: 1;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 201;
}

#menuIcon {
  transition: 0.3s ease-out;
  transform-origin: center;
}

#menuIcon.open {
  rotate: -90deg;
  scale: 0.125 1.25;
}

#drop-down {
  opacity: 0;
  height: 100dvh;
  width: 100px;
  background-color: hsla(204, 76%, 8%, 0.9);
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.3s ease-out;
  z-index: 200;
  justify-content: center;
  padding-top: 100px;
  overflow: hidden;
}

#drop-down.open {
  opacity: 1;
  width: 140px;
}

.dropdown-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.dropdown-nav a {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  transition: 0.2s;
  font-family: var(--main-font);
  font-size: 1.1rem;
  text-align: center;
  padding: 10px;
  width: max-content;
}

.dropdown-nav a:hover {
  color: lightblue;
  background-color: hsla(204, 76%, 12%, 0.9);
}

.dropdown-nav a.active {
  color: lightblue;
  font-weight: 600;
}

.logo-wrapper {
  height: 55px;
  width: 55px;
  position: relative;
  overflow: hidden;
  border-radius: 28px;
  transition: 0.3s ease-out;
  margin-left: 8px;
}

.logo-wrapper:hover {
  width: 240px;
}

#imgOfMe {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.45s ease-in-out;
  position: relative;
  z-index: 3;
}

#expandBtn {
  height: 55px;
  width: 240px;
  transition: 0.45s ease-in-out;
  background-color: hsla(204, 76%, 8%, 0.6);
  position: absolute;
  top: 0;
  overflow: hidden;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 10px;
  z-index: 2;
  gap: 4px;
}

#expandBtn p {
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  width: max-content;
}

#expandBtn svg {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.3));
  }
  30% {
    transform: scale(1.01);
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.32));
  }
  50% {
    transform: scale(1.1);
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.75));
  }
  80% {
    transform: scale(1.01);
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.32));
  }
  100% {
    transform: scale(1);
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.3));
  }
}

footer {
  width: 100%;
  height: 80px;
  background-color: rgb(17, 39, 51);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  z-index: 500;
  position: relative;
}

.quickLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  height: 100%;
  width: 200px;
}

.quickLinks a {
  color: rgb(218, 218, 255);
  text-decoration: none;
  margin: 0;
  cursor: pointer;
  font-weight: 600;
}

.quickLinks a:hover {
  text-decoration: underline;
}

.mainBody {
  min-height: calc(100dvh - 160px);
  overflow-x: hidden;
}

.mainBody.dark {
  background-color: hsl(204, 76%, 6%);
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  height: calc(100dvh - 80px);
}

.center-footer {
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: white;
  position: relative;
}

.center-wrapper {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }

  header .mobile-nav {
    display: flex;
  }

  .logo-wrapper {
    margin: 10px auto;
  }

  footer {
    flex-direction: column;
    height: auto;
    gap: 15px;
    padding: 15px;
    text-align: center;
  }

  footer p {
    margin: 0;
  }

  .center-wrapper {
    display: none;
  }

  .quickLinks {
    display: none;
  }
}
