.homePage {
  min-height: calc(100dvh - 160px);
  position: relative;
}

.home-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: fit-content;
}

.title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  height: fit-content;
  flex: 1;
  padding: 20px 0 0 20px;
}

.title-section h1,
.title-section p {
  margin: 0;
  text-align: center;
  width: 86%;
}

.title-section h1 {
  font-size: 2.6rem;
}

.title-section p {
  font-size: 1.3rem;
}

.information-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 20px 40px 20px 0;
}

.information-section h2,
.information-section p {
  margin: 4px;
}

.middle-divider {
  width: 2px;
  height: 836px;
  background-color: #243440;
  position: absolute;
  left: 45%;
  top: 20px;
  border-radius: 1px;
}

.codeChart {
  width: 84%;
  aspect-ratio: 1;
  position: relative;
}

.codeChart .circle {
  border-radius: 50%;
  aspect-ratio: 1;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #051825;
  font-weight: bolder;
  font-size: 2.8rem;
  position: relative;
}

.codeChart .circle:nth-child(1) {
  background-color: #ff4500;
  position: absolute;
  top: 10px;
  left: 50%;
  translate: -50%;
  overflow: hidden;
}

.codeChart .circle:nth-child(1)::before,
.codeChart .circle:nth-child(1)::after,
.codeChart .circle:nth-child(2)::before,
.codeChart .circle:nth-child(2)::after,
.codeChart .circle:nth-child(3)::before,
.codeChart .circle:nth-child(3)::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 50%;
  translate: -50%;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.14);
}

.codeChart .circle:nth-child(2)::before,
.codeChart .circle:nth-child(2)::after {
  background-color: rgba(255, 255, 255, 0.26);
}

.codeChart .circle:nth-child(1)::before {
  top: 0;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
}

.codeChart .circle:nth-child(1)::after {
  bottom: 0;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.codeChart .circle:nth-child(2) {
  background-color: #ffe227;
  position: absolute;
  bottom: 20px;
  right: 10px;
  overflow: hidden;
}

.codeChart .circle:nth-child(2)::before {
  top: 0;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
}

.codeChart .circle:nth-child(2)::after {
  bottom: 0;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.codeChart .circle:nth-child(3) {
  background-color: #0084ff;
  position: absolute;
  bottom: 20px;
  left: 10px;
  overflow: hidden;
}

.codeChart .circle:nth-child(3)::before {
  top: 0;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
}

.codeChart .circle:nth-child(3)::after {
  bottom: 0;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.codeChart .line {
  width: 3px;
  height: 200px;
  border-radius: 1px;
  background-color: rgba(255, 255, 255, 0.12);
  position: absolute;
}

.codeChart div.line:nth-of-type(4) {
  bottom: 10px;
  left: 50%;
  translate: -50%;
  rotate: 90deg;
  height: 168px;
}

.codeChart div.line:nth-of-type(4)::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-top: 20px solid grey;
  border-right: 12px solid transparent;
  position: absolute;
  right: 50%;
  bottom: 0;
  translate: 50%;
}

.codeChart div.line:nth-of-type(5) {
  bottom: 160px;
  right: 160px;
  rotate: -30deg;
}

.codeChart div.line:nth-of-type(5)::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-bottom: 20px solid grey;
  border-right: 12px solid transparent;
  position: absolute;
  right: 50%;
  top: 0;
  translate: 50%;
}

.codeChart div.line:nth-of-type(6) {
  bottom: 160px;
  left: 160px;
  translate: -50%;
  rotate: 30deg;
}

.codeChart div.line:nth-of-type(6)::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-bottom: 20px solid grey;
  border-right: 12px solid transparent;
  position: absolute;
  right: 50%;
  top: 0;
  translate: 50%;
}

#chartTitle {
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 15px;
  position: relative;
  left: 60px;
  width: fit-content;
}

#chartTitle::after {
  width: 130%;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  translate: -50%;
  height: 4px;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  background-color: #2d4150;
}

.diagonal-divider {
  position: relative;
  top: 30px;
  rotate: -20deg;
  border: none;
  height: 3px;
  background-color: #3d5465;
  border-radius: 1px;
}

.right-end-section {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  margin-bottom: 20px;
}

.learned-wrapper {
  width: 55%;
  height: fit-content;
  margin-top: 20px;
  padding-left: 40px;
}

.learned-wrapper h2 {
  margin: 0;
  font-size: 1.8rem;
  margin-left: 55px;
}

.learned-wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.image-card-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: hsl(204, 76%, 10%);
  min-height: 300px;
}

.image-card {
  background-color: hsl(204, 76%, 14%);
  border-radius: 10px;
  overflow: hidden;
  width: 30%;
  transition: transform 0.3s ease;
}

.image-card img {
  width: 100%;
  height: auto;
  display: block;
}

.card-content {
  padding: 15px;
  color: #fff;
}

.card-content h3 {
  margin: 0;
  font-size: 1.5rem;
}

.card-content p {
  margin: 10px 0 0;
  font-size: 1rem;
  color: #ccc;
}

.image-card:hover {
  transform: translateY(-10px);
}

#projectsTitle {
  margin: 0;
  text-align: center;
  background-color: hsl(204, 76%, 10%);
  padding: 20px 0;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}
