.journey-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
  margin: 10px auto;
  font-size: 2.8rem;
}

.journey-header::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  translate: -50%;
  width: 145%;
  height: 2px;
  background-color: white;
}

#mainLine {
  width: 4px;
  background: linear-gradient(180deg, white 98%, transparent 0%);
  position: absolute;
  left: 50%;
  translate: -50%;
  z-index: 3;
  border-radius: 2px;
}

#mainLine::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50%;
  border-left: 26px solid transparent;
  border-right: 26px solid transparent;
  border-top: 40px solid white;
  border-radius: 4px;
  z-index: 4;
}

.journey-section {
  width: 100%;
  height: 2300px;
}

.journey-section .start {
  width: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 50%;
  translate: -50%;
  z-index: 3;
}

.journey-section .line {
  width: 2px;
  height: 220px;
  position: absolute;
  z-index: 2;
  border-radius: 1px;
}

.journey-section .line::before {
  content: var(--before-content, "");
  position: absolute;
  bottom: var(--bottomValue, 0);
  left: var(--leftValue, 0);
  width: 230px;
  height: fit-content;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.16);
  padding: 10px;
  rotate: var(--rotation, "");
}

.journey-section .line::after {
  content: "";
  position: absolute;
  left: var(--leftValue, 0);
  rotate: var(--rotation, "");
  width: 260px;
  aspect-ratio: 16 / 9;
  background-image: url("../../assets/school.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: inherit;
}

#endJourney {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  margin-bottom: 80px;
  padding: 0 50px;
}

#endJourney h1 {
  font-size: 2.5rem;
  color: white;
  margin: 0;
}

#endJourney p {
  font-size: 1.2rem;
  color: white;
  margin: 0;
}

@keyframes lineAnimation {
  0% {
    height: 2069px;
  }
  100% {
    height: 2250px;
  }
}

@media (max-width: 768px) {
  .journey-header {
    font-size: 2rem;
  }

  .journey-section .line::before {
    width: 180px;
    font-size: 0.9rem;
  }

  .journey-section .line {
    --leftValue: -90px;
  }

  #endJourney {
    padding: 0 20px;
  }

  #endJourney h1 {
    font-size: 2rem;
  }

  #endJourney p {
    font-size: 1rem;
  }
}
